@charset "utf-8";

html{scroll-behavior: smooth;}
body{height: 1200vh;}
header{width: 100%; height: 100vh;background:#CBF0FF;
        position: relative;overflow-x: hidden;}
/*overflow: hidden;*/
.container{width: 100vw;height: 100vh;background: #CBF0FF;}


/*----------------------mene----------------------*/
.menu-Area{
    position: absolute;
    top: 34%;
    right: 1%
}
.menu{
    position: relative;
}
.menu li{
    position: relative;
    width: 137px;
    background: #F9F9F9;
    padding: 7px 15px;
    z-index: var(--i);
    transition: 0.5s
}
.menu li:hover{
    background: #b5b5b5;
    transform: translateX(-40px)
}
.menu li::before{
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    width: 20px;
    height: 100%;
    background: #d8d7d5;
    transform-origin: right;
    transform: skewY(-45deg);
    transition: 0.5s
}.menu li:hover::before{
    background:#838383;
}
.menu li::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    height: 20px;
    background: #eae8e3;
    transform-origin: bottom;
    transform: skewX(-45deg);
    transition: 0.5s
}
.menu li:hover::after{
    background:#afafaf;
}
.menu li a{
    color: #848484;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition: 0.5s;
    font-weight: bolder;
    -webkit-box-reflect:below lpx linear-gradient(
    transparent,#0008);
    line-height: 0,07em;
    outline: none;
    animation:animate 5s linear infinite
}
.menu li:hover a{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 200px #fff;
    transition: 0.5s;
}

/*----------------------scroll & line----------------------*/
.scrollWrap{
    position: fixed;
    bottom: 8%;
    right: 8%;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.5s ease-out;
    z-index: 100;
}
.scroll{
    position: relative;
}
.scrollWrap::after{
    content: "TOP";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
.scrollWrap:hover::after{
    color: #444;
}
.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scrollanimate 1.8s ease-out infinite
}
@keyframes scrollanimate{
    0%
    {
        height: 10%;
    }
    100%{
        height: 7%;
    }
}
ion-icon {
    font-size: 50px;
    color: #fff
}
.line1, .line2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 2px;
    background: #fff;
    z-index: 100    
}
.line1{
    bottom: 10%;
}
.line2{
    bottom: 8%;
}

/*----------------------herder-img----------------------*/
.header-Area{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
.header-Img1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-Img2{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.header-Img3{
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%, -50%);
}
.header-Img4{
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.header-Img5{
    position: absolute;
    top: 50%;
    left: 84%;
    transform: translate(-50%, -50%);
}
.header-Img6{
    position: absolute;
    top: 75%;
    left: 24%;
    transform: translate(-50%, -50%);
}
.header-Img7{
    position: absolute;
    top: 25%;
    left: 74%;
    transform: translate(-50%, -50%);
}

.header-Area h1{
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.header-Area span{
    position: relative; 
}
.header-Area span:before,
.header-Area span:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}
.header-Area span:before{
    z-index: 10;    
    animation: logoanione 1.1s ease-in-out infinite;
}
@keyframes logoanione{
    0%,100%
    {
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-32px);
    }
}
.header-Area span:after{
    z-index: 9;
    
    animation: logoanitwo 1.1s ease-in-out infinite
}
@keyframes logoanitwo{
    0%,100%
    {
        transform: translate(0,0);opacity: 75%
    }
    50%{
        transform: translate(0,-12px);
    }
}
.header-Area h1 span:nth-child(1):before,
.header-Area h1 span:nth-child(1):after{
    animation-delay: 0s;
}
.header-Area h1 span:nth-child(2):before,
.header-Area h1 span:nth-child(2):after{
    animation-delay: 0.1s;
}
.header-Area h1 span:nth-child(3):before,
.header-Area h1 span:nth-child(3):after{
    animation-delay: 0.2s;
}
.header-Area h1 span:nth-child(4):before,
.header-Area h1 span:nth-child(4):after{
    animation-delay: 0.3s;
}
.header-Area h1 span:nth-child(5):before,
.header-Area h1 span:nth-child(5):after{
    animation-delay: 0.4s;
}
.header-Area h1 span:nth-child(6):before,
.header-Area h1 span:nth-child(6):after{
    animation-delay: 0.5s;
}
.header-Area h1 span:nth-child(7):before,
.header-Area h1 span:nth-child(7):after{
    animation-delay: 0.6s;   
}
.header-Area h1 span:nth-child(8):before,
.header-Area h1 span:nth-child(8):after{
    animation-delay: 0.7s;   
}
.header-Area h1 span:nth-child(9):before,
.header-Area h1 span:nth-child(9):after{
    animation-delay: 0.8s;   
}

/*----------------------introduce----------------------*/
.introduce-Area{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Jua', sans-serif;
    padding: 160px 140px 0 140px;
    background: #e7f8ff;
    color: #2e3133;
    background: #e7f8ff;
}
.introduce-Text{
    font-size: 32px;
    line-height: 50px;
    padding-bottom: 80px;
}
.introduce-Privacy {
    font-size: 22px;
}
.introduce-Character{
    position: relative;
    bottom: 25%;
    float: right;
    font-size: 24px;
}

/*skills*/
.skills{
    width: 100%;  
    height: 100vh;
}
.skills-graph{
    display: flex;
    justify-content: center;
    transform:rotate(180deg);
}
.graph{
    width: 26px;
    height: 400px;   
    margin: 15px 33px;
}
@keyframes stack1{
    0%{ height: 0; opacity:0;}
    100%{ height: 95%; opacity:1;}
}
@keyframes stack2{
    0%{ height: 0; opacity:0;}
    100%{ height: 80%; opacity:1;}
}
@keyframes stack3{
    0%{ height: 0; opacity:0;}
    100%{ height: 80%; opacity:1;}
}
@keyframes stack4{
    0%{ height: 0; opacity:0;}
    100%{ height: 95%; opacity:1;}
}
@keyframes stack5{
    0%{ height: 0; opacity:0;}
    100%{ height: 80%; opacity:1;}
}
@keyframes stack6{
    0%{ height: 0; opacity:0;}
    100%{ height: 75%; opacity:1;}
}
@keyframes stack7{
    0%{ height: 0; opacity:0;}
    100%{ height: 75%; opacity:1;}
}
@keyframes stack8{
    0%{ height: 0; opacity:0;}
    100%{ height: 75%; opacity:1;}
}
@keyframes stack9{
    0%{ height: 0; opacity:0;}
    100%{ height: 90%; opacity:1;}
}
@keyframes stack10{
    0%{ height: 0; opacity:0;}
    100%{ height: 85%; opacity:1;}
}
@keyframes stack11{
    0%{ height: 0; opacity:0;}
    100%{ height: 90%; opacity:1;}
}
.graph span{
    display:flex;
    height:40px;
    line-height:40px;
    justify-content: center;
    text-align:center;
    box-sizing: border-box;
    font-size: 13px;
    color: #3e3f46;
    font-weight: 500;
    transform:rotate(180deg);
}
.graph.stack1 span{
    background-color:white;
    height:95%;
    animation:stack1 2s 1;
}
.graph.stack2 span{
    background-color:white;
    height:80%;
    animation:stack2 2s 1;
}
.graph.stack3 span{
    background-color:white;
    height:80%;
    animation:stack3 2s 1;
}
.graph.stack4 span{
    background-color:white;
    height:95%;
    animation:stack4 2s 1;
}
.graph.stack5 span{
    background-color:white;
    height:80%;
    animation:stack5 2s 1;
}
.graph.stack6 span{
    background-color:white;
    height:75%;
    animation:stack6 2s 1;
}
.graph.stack7 span{
    background-color:white;
    height:75%;
    animation:stack7 2s 1;
}
.graph.stack8 span{
    background-color:white;
    height:75%;
    animation:stack8 2s 1;
}
.graph.stack9 span{
    background-color:white;
    height:90%;
    animation:stack9 2s 1;
}
.graph.stack10 span{
    background-color:white;
    height:85%;
    animation:stack10 2s 1;
}
.graph.stack11 span{
    background-color:white;
    height:90%;
    animation:stack11 2s 1;
}
.skills-Icon{
    display: flex;
    justify-content: center;
    padding: 0 40px;
}
.skills-Icon li{
    text-align: center;
}
.skills-Icon img{
    padding: 0 26px
}
.skills-Icon p{
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

/*----------------------sections/*----------------------*/
.section-area img{height: 100%}
.section-area{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.list1{
    width: 33.4%;
    height: 38.2vh;
    background-color: snow;
}
.list2{
    width: 66.6%;
    height: 100vh;
    background-color: white;
}
.list3{
    width: 33.4%;
    height: 61.8vh;
    background-color: chocolate;
    position: absolute;
    bottom: 0;
}
.animate, .growimg{
    animation: fadeIn 1s forwards ease-in;
    transition: 2s ease-in-out;
}
@keyframes fadeIn{
    0% {opacity: 0.78;}
    100% {opacity: 1;}
}
.list1 img{
    opacity: 0;
    transform: translateX(-10em)
    
}
.list1 img.animate{
    left: 0;
    transform: translateX(0em)
}
/* .list2 img{
    width: 0;
    height: 0;
}
.list2 img.animate{
    width: 1199px;
    height: 1078px;
} */
.portfolioWrap a{
    z-index: 100;
    position: absolute;
    right: 0%;
    top: 2%;
    border: 1px solid #777;
    padding: 18px 62px;
    background-color: #fff;
    color: #777;
    font-weight: 600;
}

/*---------------------- bye /*----------------------*/
.bye{
    position: relative;
    color: #2e3133;
}
.bye-Thank{
    font-family: 'Nanum Myeongjo', serif;
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    color: #2e3133;
}
.contact-Box{
    background-color: #fff;
    position: absolute;
    width: 360px;
    height: 200px;
    top: 50%;
    right: -350px;
    transform: translateY(-50%);
    padding: 1em;
}
.contact-Box.contactBox{
    right: 0;
}
.contact-Box li IMG{
    border-radius: 1PX
}
.contactBox, fadeIn{
    transition: 2.4s ease-in-out;
    animation: fadeIn 1s forwards ease-in;
}
.contact-Box li{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3%; 
}
.contact-Box li p{
    font-family: 'Kanit', sans-serif;
    font-size: 1.6em;
    margin-right: 16px;
}
.contact-Box li img{
    border-radius: 8px
}